/* color: white;
background: linear-gradient(to right, rgb(22, 34, 42), rgb(58, 96, 115)); */

.bg{
    background-image: url('../../assets/IMGTEST.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    /* background-attachment: fixed; */
}
.logoMb{
    display: none;
}

@media(max-width:955px){
    .signin-container {
        /* font-size: small; */
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    
    }

    .signin-container p,h1{
        font-size: medium;
    }

    .signin-container .content{
        flex-direction: column;
        margin: 0px;
        /* align-self: center; */
    }

    .bg{
        /* background-position: right ; */
        
        background-image: url('../../assets/fundobranco.webp');
        /* background-image: url('../../assets/IMGTEST2.png'); */
        /* z-index: -1; */
    } 
    .control{
        width: 75%;
        align-self: flex-start;
    }
    .control2{
        align-self: flex-start;
        width: 100%;
        /* margin-left: 8px; */
        /* width: 30%; */
        /* justify-items: center; */
        
    }
    .al{
        justify-content: center;
        /* width: 100%; */
        padding: 1em;
        /* background-color: red; */
    }

    .bg .content {
        /* z-index: 1; */
        /* margin: 2em;
        padding:2em; */
    }


   
    
    video{
        display: none;
        /* width: 550px; */
       
        /* height: 300px; */
    }
 

    .logoMb{ 
        /* d-flex align-items-center justify-content-center */
        display: flex;
        flex-direction: row;
        align-items: center;
        
        justify-content:center;
        /* background-color: red; */
    }

    
  
 
}

