/* color: white;
background: linear-gradient(to right, rgb(22, 34, 42), rgb(58, 96, 115)); */



.logoMb{
    display: none;
}

.form{
    -webkit-box-shadow: 0px -3px 41px 10px rgba(36,131,138,1);
    -moz-box-shadow: 0px -3px 41px 10px rgba(36,131,138,1);
    box-shadow: 0px -3px 41px 10px rgba(36,131,138,1);
    background: linear-gradient(to right, rgb(22, 34, 42), rgb(58, 96, 115));
}

@media(max-width:955px){
    .signin-container {
        /* font-size: small; */
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    
    }

    .signin-container p,h1{
        font-size: medium;
    }

    .signin-container .content{
        flex-direction: column;
        margin: 0px;
        /* align-self: center; */
    }

    
    .control{
        width: 75%;
        align-self: flex-start;
    }
    .control2{
        align-self: flex-start;
        width: 100%;
        /* margin-left: 8px; */
        /* width: 30%; */
        /* justify-items: center; */
        
    }
    .al{
        justify-content: center;
        /* width: 100%; */
        padding: 1em;
        /* background-color: red; */
    }
    .logo-img{
        width: 70%;
     
    }


   
    
    video{
        display: none;
        /* width: 550px; */
       
        /* height: 300px; */
    }
 

 

    
  
 
}

